<template>
    <div  class="page-content">
        <h1>Lista de Usuários</h1>
       <table class="table-content">
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>E-Mail</th>
                <th>Deletar</th>
            </tr>
            <tr v-for="(user, index) in users"  :key="index">
                <td>{{ user.name }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td class="td-button"><button class="btn-del" @click="deleteUser(index)">Deletar</button></td>
            </tr>
       </table>
	</div>
</template>

<script>
export default {
    name: "ListUser",
    props: {
        users: {
            type: Array,
        }
    },
    data() {
        return {
            usersLocal: this.users,
        }
    },
    methods: {
        deleteUser(index) {
           this.$emit('delete-user', index); 
        }
    }
}
</script>
