<template>
    <div>
        <div class="page-content">
            <h1>Cadastro de Usuário</h1>
            <div class="input-container">
                <input type="text" v-model="userData.name" />
                <label>Nome:</label>
            </div>
            <div class="input-container">
                <input type="text" v-model="userData.lastName" />
                <label>Sobrenome:</label>
            </div>
            <div class="input-container">
                <input type="email" v-model="userData.email" />
                <label>E-Mail:</label>	
            </div>
            <button type="button" @click="registerUser" class="btn">Cadastrar</button>	
        </div>
        <div v-if="shouldShowUserList">
            <ListUser 
                :users="users"
                @delete-user="onDeleteUser"/>
        </div>
	</div>
</template>

<script>
import ListUser from './ListUser.vue'

export default {
    name: "RegisterPage",
    components: {
        ListUser
    },
    data() {
        return {
            userData: {
                name: null,
                lastName: null,
                email: null,
            },
            users: [],
        }
    },
    computed: {
        shouldShowUserList() {
            return this.users?.length > 0;
        }
    }, 
    methods: {
        registerUser() {
           this.users.push(this.userData);
           this.userData = {
                name: null,
                lastName: null,
                email: null,
           };
        },
        onDeleteUser(index) {
            this.users.splice(index, 1);
        }
    }
}
</script>
