@import './base.css';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

.page-content {
  background: rgb(245, 245, 243);
  border-radius: 10px;
  padding: 25px;
  padding-left: 30%;
  padding-right: 30%;
  margin-bottom: 20px;
}

.page-content > h1 {
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 1024px) {
  #app {
    padding-top: 50px;
    width: 100%;
  }
}

.text-center{
	color:#fff;	
	text-transform:uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}

.box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.89);
	border-radius:3px;
	padding:70px 100px;
}
.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#000000;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#000000;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #783ce7;	
}
.btn{
	color:#fff;
	background-color:#783ce7;
	outline: none;
  border: 0;
  color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:25px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
  width: 100%;
}

.btn-del{
  color:#fff;
	background-color:#783ce7;
	outline: none;
  border: 0;
  color: #fff;
	padding:5px 15px;
	text-transform:uppercase;
	border-radius:2px;
	cursor:pointer;
  text-align: center;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}

.table-content {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table-content td, .table-content th {
  border: 1px solid #ddd;
  padding: 3px;
}

.table-content tr:nth-child(even){background-color: #f2f2f2;}

.table-content tr:hover {background-color: #ddd;}

.table-content th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #783ce7;
  color: white;
}

.td-button {
  text-align: center;
}